.center {
    width: 640px;
    margin: auto;
}

.relative {
    position: relative;
}

.title {
    padding-top: 40px;
}

.buttons {
    padding-top: 20px;
}

.button {
    top: -4px;
    position: relative;
}

.text-center {
    text-align: center;
}

#demo-canvas {
    z-index: -10;
    position: absolute;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 800px;
}

.middle {
    font-size: 70px;
}

.hover-blue:hover {
    color: blue;
}

.clickable {
    cursor: pointer;
}

.loader {
    display: none;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
}

.loader > span {
    width: 70px;
    position: absolute;
    top: 50%;
    left: 50%;

    margin: -35px 0 0 -35px;
}
