<!DOCTYPE html>
<html>
<head>
    <link href="stylesheets/main.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>

<body>
    <h1 align="center" class="title"> Snake Myo </h1>
    <div class = "center">
        <div class="snake" style="display: none">
            <canvas id="canvas"></canvas>
        </div>
        <div class="camera" style="display: none">
            <canvas id="photoCanvas" hidden></canvas>
            <video id="video">Video stream not available.</video>
        </div>
        <div class="relative">
            <canvas id="demo-canvas"></canvas>
            <div class="text-center buttons">
                <i class="fa fa-camera fa-3x hover-blue clickable button"></i><span class="middle"> / </span><i class="fa fa-upload fa-3x hover-blue clickable button"></i>
            </div>
        </div>
    </div>
    <div class="loader">
        <span><i class="fa fa-cog fa-spin fa-5x"></i><span>
    </div>

    <input type="file" accept="image/*" class="upload" hidden onchange="handleFile(this.files)">

    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="/js/snake.js" type="text/javascript"></script>
    <script src="/js/webcam.js" type="text/javascript"></script>
    <script src="/js/flow.js" type="text/javascript"></script>
    <script src="/js/demo.js" type="text/javascript"></script>


</body>
</html>
