<!DOCTYPE html>
<html>
<head>

</head>

<body>
    <div class = "center">
    <!-- Snake game zone -->
        <canvas id="canvas" width="450" height="450"></canvas>
    </div>

    Hello world!

    <!-- Jquery -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="/js/snake.js" type="text/javascript"></script>
    <script src="/js/webcam.js" type="text/javascript"></script>


    <div class="camera">
        <canvas id="photoCanvas"></canvas>
        <video id="video">Video stream not available.</video>
        <button id="startbutton">Take photo</button>
        <img id="photo" alt="The screen capture will appear in this box.">
      </div>

</body>
</html>
